@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

// Responsive
$tablet: 950px;
$phone: 415px;

@mixin tablet {
	@media (max-width: #{$tablet}) {
		@content;
	}	
}

@mixin phone {
	@media (max-width: #{$phone}) {
		@content;
	}	
}

// Animations
@keyframes comein {
	0% {
		transform: translateY(-50%);
	  opacity: 0;
	}
	50% {
	  opacity: 0.3;
	}
	100% {
		transform: translateY(0%);
	  opacity: 1;
	}
}
@keyframes comeinback {
	0% {
		transform: translateY(-20%);
	  opacity: 0;
	}
	50% {
	  opacity: 0.2;
	}
	100% {
		transform: translateY(0%);
	  opacity: 0.5;
	}
}

* {
	margin: 0;
	padding: 0;
	font-family: "Montserrat";
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: #101010;
	color: white;
}

::-webkit-scrollbar {
	width: 7px;
	border-radius: 10px;
}

::-webkit-scrollbar-track {
	background-color: #101010;
}

::-webkit-scrollbar-thumb {
	background-color: #292929;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #555555;
}

header {
	display: flex;
	align-items: center;
	position: absolute;
	width: 100%;

	h1 {
		padding: 28px 61px;

		a {
			color: white;
			text-decoration: none;
		}

		a:hover {
			border-bottom: 1px solid wheat;
		}
	}

	nav {
		margin: 0 43px;
		margin-left: auto;

		ul {
			list-style: none;
			display: flex;
			justify-content: center;

			li {
				padding: 0 10px;

				a {
					color: #a0a0a0;
					text-decoration: none;
				}

				a:hover {
					color: wheat;
				}
			}
		}
	}
}

#intro::before{
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	background: url("../img/main/bg1.jpg") no-repeat center center/cover;
	background-attachment: fixed;
	height: 100vh;
	width: 100%;
	z-index: -1;
	opacity: 0.5;
	animation: comeinback 1s 1 0s linear;

	@include tablet{
		background-position: -115px -210px;
    	background-size: 1503px;
	}
}

#intro{
	height: 100vh;
	width: 100%;
	cursor: default;

	@include tablet{
		height: 62vh;
	}

	#div1{
		position: absolute;
		top: 228px;
		left: 10px;
		animation: comein 1s 1 0s linear;

		@include tablet{
			margin-top: -100px;
		}
		
		h3{
			font-size: 60px;
			color: wheat;
		}

		#span1{
			font-size: 50px;
			display: block;
			margin-top: 5px;
			margin-left: 24px;
			
			@include tablet{
				font-size: 36px;
			}
		}
	}

	#div2{
		position: absolute;
		top: 315px;
		right: 35px;
		animation: comein 1s 1 0s linear;

		@include tablet{
			left: 10px;
		}
		
		#span3{
			font-size: 35px;
			display: block;
		}

		#span2, #span4{
			font-size: 44px;
			display: block;
			
			@include tablet{
				font-size: 36px;
			}

			span{
				color: wheat;
				font-weight: bolder;
			}
			span:hover{
				text-decoration: underline;
				cursor: pointer;
			}
		}
	}
}

footer {
	display: flex;
	align-items: center;
	width: 100%;

	span {
		margin: 40px 100px;
		font-size: 20px;
		color: #c2c2c2;
	}

	button {
		margin: 0 80px;
		margin-left: auto;
		background: none;
		color: wheat;
		border: none;
		font-size: 16px;
		outline: none;
	}

	button:hover {
		text-decoration: underline;
	}
}
